.cart {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0.5rem;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.cart-footer {
    padding: 1rem;
}

.image-container{
    max-height: 10rem;
    max-width: 8rem;
    min-width: 8rem;
}
.modifier-box{
    /* border:2px solid rgba(255, 240, 240, 0.662); */
    width: 100%;
    border-radius: 10px;
}
.css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root{
    padding: 0px !important;
}
.checkout-btn {
    text-transform: none;
    font-weight: 700;
    font-size: 1.1rem;
}

.empty-cart-icon {
    width: 3rem !important;
    height: 3rem !important;
    color: #aaa;
}

.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}