.card {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.card-content{
    display: flex;
    flex-direction: column;
    font-size: 14px !important;
    font-weight: 600;  
    padding: 10px !important; 
    padding-bottom:0px !important ; 
}
.card-content p{
    padding: 6px 0;
    margin: 0 !important;
    font-size: 1rem !important;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    margin-top: 0 !important;
    text-transform: none;
    font-weight: 600;
    height: 30px;
}